.menu_leccion{
    border: rgb(189, 188, 188) solid 1px;
}

#text_editor { 
    margin:0;
    padding:0;
    height:500px;
    width:100%;
    overflow: hidden;
}

#editor_container {
    height:100%;
    width: 80%;
    white-space : nowrap; 
    overflow : hidden;
    position: center;
    border: solid 2px white;
    border-radius: 10px;
}

#editor {
    height: 100%;
    width:50%;
    display:inline-block;
}


#iframe {
    height:100%;
    display:inline-block;
    width:50%;
    border: solid black 2px;
}

/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket { display: none }